header.navbar {
  background none
  transition opacity 0.5s
}

.navbar div.links {
  background none
  transition opacity 0.5s
}
/*首页的一些盒子的背景色*/
.abstract-wrapper > .abstract-item, .home-blog .home-blog-wrapper .info-wrapper {
  background-color: #400626
}
.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item {
  //background-color: var(--box-bg-color-1)
}

div.custom-block.tip {
  background-color: $gsTipColor
  border-color: $gsBorderColor
}
nav-links can-hide .nav-links a {
  color: var(--gs-text-color-1)
}
@media screen and (max-width: 500px) {
  .el-message {
    min-width: 300px !important;
  }
}
@media screen and (max-width: 500px) {
  .el-message-box{
    width: 300px !important;
  }
}
  #waline .wl-panel {
    background-color var(--background-color3)
  }
  #waline .wl-editor:focus, .wl-input:focus {
    background-color var(--background-color)
  }
    .wl-header label,.wl-btn {
      color var(--text-color)
    }
    .wl-editor, .wl-input {
      color var(--text-color)
    }
    #waline .wl-card .wl-content {
      color var(--text-color)
    }