:root {
  --background-color: #1d2025;
  --background-color2: #252934;
  --background-color3: #191d26;
  --background-color4: #003100;//tip的背景色
}

//$codeBgColor = #003100
$accentColor = #3498db
/*首页的一些背景色*/
.abstract-item, .home-blog .home-blog-wrapper .info-wrapper {
  background-color: var(--background-color2)
}
.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item {
  background-color: var(--background-color3)
}

div.custom-block.tip {
  background-color: var(--background-color4)
  border-color: #009400;
}

