//:root {
//  --background-color: #1d2025;
//  --background-color2: #252934;
//  --background-color3: #191d26;
//  --background-color4: #003100;//tip的背景色
//}

//:root {
//  --waline-font-size: 1rem;
//  --waline-white: #fff;
//  --waline-light-grey: #999;
//  --waline-dark-grey: #666;
//  --waline-theme-color: #27ae60;
//  --waline-active-color: #2ecc71;
//  --waline-color: var(--text-color);
//  --waline-bgcolor: #fff;
//  --waline-bgcolor-light: #f8f8f8;
//  --waline-bgcolor-hover: #f0f0f0;
//  --waline-border-color: #ddd;
//  --waline-disable-bgcolor: #f8f8f8;
//  --waline-disable-color: #000;
//  --waline-code-bgcolor: #282c34;
//  --waline-bq-color: #f0f0f0;
//  --waline-avatar-size: 3.25rem;
//  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
//  --waline-badge-color: #3498db;
//  --waline-badge-font-size: 0.75em;
//  --waline-info-bgcolor: #f8f8f8;
//  --waline-info-color: #999;
//  --waline-info-font-size: 0.625em;
//  --waline-border: 1px solid var(--waline-border-color);
//  --waline-avatar-radius: 50%;
//}

//$codeBgColor = #003100
$accentColor = #3498db
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #003100
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$backgroundColor = #ac1e1e // 悬浮块背景色

/*另外一些我定义的*/
$gsBorderColor = #009400 //提示框的左边框颜色
$gsTipColor = #003100 //提示框的背景色


//$darkColor10 = rgba(21, 128, 255 1)
//$darkColor9 = rgba(21, 128, 255 .9)
//$darkColor8 = rgba(21, 128, 255 .8)
//$darkColor7 = rgba(21, 128, 255 .7)
//$darkColor6 = rgba(21, 128, 255 .6)
//$darkColor5 = rgba(21, 128, 255 .5)
//$darkColor4 = rgba(21, 128, 255 .4)
//$darkColor3 = rgba(21, 128, 255 .3)
//$darkColor2 = rgba(21, 128, 255 .2)
//$darkColor1 = rgba(21, 128, 255 .1)

$darkColor10 = #3498db
$darkColor9 = #3498db
$darkColor8 = #3498db
$darkColor7 = #3498db
$darkColor6 = #3498db
$darkColor5 = #3498db
$darkColor4 = #3498db
$darkColor3 = #3498db
$darkColor2 = #3498db
$darkColor1 = #3498db
